.loginpaper{
    justify-content: center;
    min-height: 30vh;
    padding: 50px;
}
.loginpaper:hover{
    box-shadow: 0 10px 20px rgba(5, 3, 3, 0.32),0 4px 8px rgba(2, 1, 1, 0.26);
}
.center-vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


body{
    background-color: rgb(32, 145, 145);
    /*background-image: url();*/
    
}

